openapi: 3.1.0
info:
  title: reCAPTCHA v3
  version: v3
  x-emulates-upstream:
    url: https://developers.google.com/recaptcha/docs/verify
servers:
  - url: https://www.google.com
paths:
  /recaptcha/api.js:
    get:
      operationId: BrowserScript
      parameters:
        - name: render
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Local grecaptcha.ready/execute shim
          content:
            application/javascript:
              schema: { type: string }
      x-emulates:
        supported: true
        parity: { enabled: false, reason: Semantic shim, not Google's production script }
  /recaptcha/api/siteverify:
    post:
      operationId: Siteverify
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                secret: { type: string, maxLength: 200 }
                response: { type: string, maxLength: 2000 }
                remoteip: { type: string, maxLength: 100 }
      responses:
        '200':
          description: Verification result (including validation failures)
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: { type: boolean }
                  score: { type: number, minimum: 0, maximum: 1 }
                  action: { type: string }
                  hostname: { type: string }
                  challenge_ts: { type: string, format: date-time }
                  error-codes: { type: array, items: { type: string } }
      x-emulates:
        supported: true
        parity: { enabled: true, safe: true }
