openapi: 3.1.0
info: { title: WorkOS AuthKit mock, version: '1.0.0' }
servers:
  - url: https://api.workos.com
paths:
  /user_management/authorize:
    get:
      operationId: Authorize
      x-mockingbird:
        parity: { enabled: false, reason: Browser redirect requires registered client and callback, safe: false }
      parameters:
        - { name: client_id, in: query, required: true, schema: { type: string } }
        - { name: redirect_uri, in: query, required: true, schema: { type: string } }
        - { name: response_type, in: query, required: true, schema: { type: string, enum: [code] } }
        - { name: provider, in: query, required: true, schema: { type: string } }
        - { name: state, in: query, schema: { type: string } }
        - { name: organization_id, in: query, schema: { type: string } }
        - { name: code_challenge, in: query, schema: { type: string } }
        - { name: code_challenge_method, in: query, schema: { type: string, enum: [S256] } }
      responses:
        '302': { description: Registered callback with code and state, headers: { Location: { schema: { type: string } } } }
        '400': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
  /user_management/authenticate:
    post:
      operationId: Authenticate
      x-mockingbird: { parity: { safe: false } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_id, client_secret, grant_type]
              properties:
                client_id: { type: string, example: client_mock }
                client_secret: { type: string, example: mock_workos_key }
                grant_type: { type: string, enum: [authorization_code, refresh_token] }
                code: { type: string }
                code_verifier: { type: string }
                refresh_token: { type: string }
                organization_id: { type: string }
      responses:
        '200':
          description: Authenticated session
          content:
            application/json:
              schema:
                type: object
                required: [user, access_token, refresh_token]
                properties:
                  user: { $ref: '#/components/schemas/User' }
                  access_token: { type: string, x-mockingbird-volatile: { kind: token } }
                  refresh_token: { type: string, x-mockingbird-volatile: { kind: token } }
                  organization_id: { type: string }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
  /user_management/users:
    get:
      operationId: ListUsers
      parameters:
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 10 } }
        - { name: after, in: query, schema: { type: string, example: user_mock } }
        - { name: email, in: query, schema: { type: string, example: synthetic@example.test } }
      responses:
        '200':
          description: User page
          content:
            application/json:
              schema:
                type: object
                required: [object, data, list_metadata]
                properties:
                  object: { type: string, enum: [list] }
                  data: { type: array, items: { $ref: '#/components/schemas/User' } }
                  list_metadata:
                    type: object
                    required: [before, after]
                    properties:
                      before: { type: [string, 'null'] }
                      after: { type: [string, 'null'] }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
  /sso/jwks/{clientId}:
    get:
      operationId: GetJwks
      parameters:
        - { name: clientId, in: path, required: true, schema: { type: string, example: client_mock } }
      responses:
        '200':
          description: Public signing keys
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys: { type: array, items: { type: object, x-mockingbird-volatile: { kind: opaque } } }
        '404': { $ref: '#/components/responses/Error' }
components:
  responses:
    Error:
      description: WorkOS error
      content:
        application/json:
          schema: { type: object, properties: { error: { type: string }, error_description: { type: string }, message: { type: string } } }
  schemas:
    User:
      type: object
      required: [object, id, email, first_name, last_name, metadata, email_verified, created_at, updated_at]
      properties:
        object: { type: string, enum: [user] }
        id: { type: string, x-mockingbird-resource: { type: user, identity: true } }
        email: { type: string }
        first_name: { type: [string, 'null'] }
        last_name: { type: [string, 'null'] }
        metadata: { type: object, additionalProperties: { type: string } }
        email_verified: { type: boolean }
        created_at: { type: string, x-mockingbird-volatile: { kind: timestamp } }
        updated_at: { type: string, x-mockingbird-volatile: { kind: timestamp } }
