openapi: 3.1.0
info:
  title: Cloudflare Turnstile Siteverify
  version: v0
  x-mockingbird-upstream:
    url: https://developers.cloudflare.com/turnstile/get-started/server-side-validation/
servers:
  - url: https://challenges.cloudflare.com
paths:
  /turnstile/v0/siteverify:
    post:
      operationId: Siteverify
      requestBody:
        required: true
        content:
          application/json:
            example: { secret: mock_secret, response: missing-token }
            schema: { $ref: '#/components/schemas/verification' }
          application/x-www-form-urlencoded:
            schema: { $ref: '#/components/schemas/verification' }
      responses:
        '200':
          description: Verification result, including rejected tokens
          content:
            application/json:
              schema:
                type: object
                required: [success, error-codes]
                properties:
                  success: { type: boolean }
                  error-codes: { type: array, items: { type: string } }
                  challenge_ts: { type: string, format: date-time }
                  hostname: { type: string }
                  action: { type: string }
                  cdata: { type: string }
      x-mockingbird: { supported: true, parity: { enabled: true, safe: false } }
components:
  schemas:
    verification:
      type: object
      properties:
        secret: { type: string, maxLength: 100 }
        response: { type: string, maxLength: 2048 }
        remoteip: { type: string, maxLength: 100 }
        idempotency_key: { type: string, maxLength: 36 }
