openapi: 3.1.0
info:
  title: Unsplash search subset
  version: v1
  x-emulators-upstream:
    url: https://unsplash.com/documentation
servers:
  - url: https://api.unsplash.com
paths:
  /search/photos:
    get:
      operationId: SearchPhotos
      parameters:
        - { name: query, in: query, required: true, schema: { type: string, minLength: 1, maxLength: 100 }, example: mock }
        - { name: page, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }
        - { name: per_page, in: query, schema: { type: integer, minimum: 1, maximum: 30 } }
        - { name: orientation, in: query, schema: { type: string, enum: [landscape, portrait, squarish] } }
        - { name: client_id, in: query, schema: { type: string, maxLength: 100 } }
      responses:
        '200':
          description: Search page
          content:
            application/json:
              schema:
                type: object
                required: [total, total_pages, results]
                properties:
                  total: { type: integer, minimum: 0 }
                  total_pages: { type: integer, minimum: 0 }
                  results: { type: array, items: { $ref: '#/components/schemas/photo' } }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
      x-emulators: { supported: true, parity: { enabled: true, safe: true } }
  /photos/{id}/download:
    get:
      operationId: TrackDownload
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, minLength: 1, maxLength: 100 } }
      responses:
        '200':
          description: Local fixture URL
          content:
            application/json:
              schema: { type: object, required: [url], properties: { url: { type: string, format: uri } } }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
      x-emulators: { supported: true, parity: { enabled: true, safe: false } }
  /__admin/blobs/{id}:
    x-emulators-internal: true
    get:
      operationId: GetImage
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, minLength: 1, maxLength: 100 } }
      responses:
        '200': { description: Synthetic image bytes, content: { 'application/octet-stream': { schema: { type: string } } } }
        '404': { $ref: '#/components/responses/Error' }
      x-emulators: { supported: true, parity: { enabled: false, reason: Local binary image fixture, safe: true } }
components:
  responses:
    Error:
      description: Unsplash errors
      content:
        application/json:
          schema: { type: object, required: [errors], properties: { errors: { type: array, items: { type: string } } } }
  schemas:
    photo:
      type: object
      required: [id, alt_description, urls, links, user]
      properties:
        id: { type: string }
        alt_description: { type: [string, 'null'] }
        urls:
          type: object
          required: [regular]
          properties: { regular: { type: string, format: uri } }
        links:
          type: object
          required: [download_location]
          properties: { download_location: { type: string, format: uri } }
        user:
          type: object
          required: [first_name, links]
          properties:
            first_name: { type: string }
            last_name: { type: [string, 'null'] }
            links: { type: object, required: [html], properties: { html: { type: string, format: uri } } }
