{
  "openapi": "3.1.0",
  "info": {
    "title": "Vercel Blob API",
    "version": "0.1.0",
    "x-mockingbird-upstream": {
      "note": "Official @vercel/blob 2.8.0 wire source, Vercel Blob documentation and vercel-labs/emulate e4cd051330282a2ffc615f23d0f03c57bbd65a1e."
    }
  },
  "servers": [
    {
      "url": "https://vercel.com"
    }
  ],
  "paths": {
    "/api/blob/": {
      "put": {
        "operationId": "PutBlob",
        "summary": "PutBlob",
        "parameters": [
          {
            "name": "pathname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutReply"
                }
              }
            }
          },
          "400": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeToken": []
          }
        ],
        "x-mockingbird": {
          "parity": {
            "safe": false,
            "enabled": false,
            "reason": "Raw bytes or action-dependent multipart requests are verified with the official SDK and binary HTTP acceptance tests."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    },
    "/api/blob": {
      "get": {
        "operationId": "ReadBlobStore",
        "summary": "ReadBlobStore",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "expanded",
                "folded"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/HeadReply"
                    },
                    {
                      "$ref": "#/components/schemas/ListReply"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeToken": []
          }
        ]
      },
      "put": {
        "operationId": "CopyBlob",
        "summary": "CopyBlob",
        "parameters": [
          {
            "name": "pathname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutReply"
                }
              }
            }
          },
          "400": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeToken": []
          }
        ],
        "x-mockingbird": {
          "parity": {
            "safe": false
          }
        }
      }
    },
    "/api/blob/delete": {
      "post": {
        "operationId": "DeleteBlobs",
        "summary": "DeleteBlobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeToken": []
          }
        ],
        "x-mockingbird": {
          "parity": {
            "safe": false
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  }
                },
                "required": [
                  "urls"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/blob/mpu": {
      "post": {
        "operationId": "MultipartUpload",
        "summary": "MultipartUpload",
        "parameters": [
          {
            "name": "pathname",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-mpu-action",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "create",
                "upload",
                "complete"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PutReply"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "uploadId": {
                          "type": "string",
                          "x-mockingbird-volatile": {
                            "kind": "id"
                          }
                        }
                      },
                      "required": [
                        "key",
                        "uploadId"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "etag": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "etag"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "storeToken": []
          }
        ],
        "x-mockingbird": {
          "parity": {
            "safe": false,
            "enabled": false,
            "reason": "Raw bytes or action-dependent multipart requests are verified with the official SDK and binary HTTP acceptance tests."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "etag": {
                      "type": "string"
                    },
                    "partNumber": {
                      "type": "integer",
                      "minimum": 1
                    }
                  },
                  "required": [
                    "etag",
                    "partNumber"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/__admin/blobs/{id}": {
      "get": {
        "operationId": "DownloadBlob",
        "summary": "DownloadBlob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grant",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exact object bytes",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "304": {
            "description": "Unchanged object"
          }
        },
        "x-mockingbird": {
          "parity": {
            "safe": true,
            "enabled": false,
            "reason": "Raw bytes or action-dependent multipart requests are verified with the official SDK and binary HTTP acceptance tests."
          }
        }
      },
      "head": {
        "operationId": "HeadDownload",
        "summary": "HeadDownload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "namespace",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grant",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exact object bytes",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Vercel Blob error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "304": {
            "description": "Unchanged object"
          }
        },
        "x-mockingbird": {
          "parity": {
            "safe": true,
            "enabled": false,
            "reason": "Raw bytes or action-dependent multipart requests are verified with the official SDK and binary HTTP acceptance tests."
          }
        }
      },
      "x-mockingbird-internal": true
    }
  },
  "components": {
    "securitySchemes": {
      "storeToken": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "PutReply": {
        "type": "object",
        "properties": {
          "pathname": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "x-mockingbird-volatile": {
              "kind": "url"
            }
          },
          "downloadUrl": {
            "type": "string",
            "x-mockingbird-volatile": {
              "kind": "url"
            }
          },
          "contentType": {
            "type": "string"
          },
          "contentDisposition": {
            "type": "string"
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "pathname",
          "url",
          "downloadUrl",
          "contentType",
          "contentDisposition",
          "etag"
        ],
        "additionalProperties": false
      },
      "HeadReply": {
        "type": "object",
        "properties": {
          "pathname": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "x-mockingbird-volatile": {
              "kind": "url"
            }
          },
          "downloadUrl": {
            "type": "string",
            "x-mockingbird-volatile": {
              "kind": "url"
            }
          },
          "contentType": {
            "type": "string"
          },
          "contentDisposition": {
            "type": "string"
          },
          "etag": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "uploadedAt": {
            "type": "string",
            "x-mockingbird-volatile": {
              "kind": "timestamp"
            }
          },
          "cacheControl": {
            "type": "string"
          }
        },
        "required": [
          "pathname",
          "url",
          "downloadUrl",
          "contentType",
          "contentDisposition",
          "etag",
          "size",
          "uploadedAt",
          "cacheControl"
        ],
        "additionalProperties": false
      },
      "ListReply": {
        "type": "object",
        "properties": {
          "blobs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "x-mockingbird-volatile": {
                    "kind": "url"
                  }
                },
                "downloadUrl": {
                  "type": "string",
                  "x-mockingbird-volatile": {
                    "kind": "url"
                  }
                },
                "pathname": {
                  "type": "string"
                },
                "size": {
                  "type": "integer",
                  "minimum": 0
                },
                "uploadedAt": {
                  "type": "string",
                  "x-mockingbird-volatile": {
                    "kind": "timestamp"
                  }
                },
                "etag": {
                  "type": "string"
                }
              },
              "required": [
                "url",
                "downloadUrl",
                "pathname",
                "size",
                "uploadedAt",
                "etag"
              ],
              "additionalProperties": false
            }
          },
          "hasMore": {
            "type": "boolean"
          },
          "cursor": {
            "type": "string"
          },
          "folders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "blobs",
          "hasMore"
        ],
        "additionalProperties": false
      }
    }
  }
}
