{
  "openapi": "3.1.0",
  "info": {
    "title": "Google Ads v25 and GA4 local API subset",
    "version": "0.1.0",
    "x-mockingbird-upstream": {
      "note": "Bounded subset of official googleapis/googleapis proto SHA03a91044136a014466d4293eb1fe91f2b02075d2, Google Ads REST and GA4 Measurement Protocol/Data API documentation. Developer tokens are ignored under the September2026 policy."
    }
  },
  "servers": [
    {
      "url": "https://googleads.googleapis.com"
    }
  ],
  "paths": {
    "/v25/customers/{customerId}/googleAds:search": {
      "post": {
        "operationId": "SearchGoogleAds",
        "summary": "SearchGoogleAds",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "example": "1000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "401": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "403": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "404": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "429": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "500": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "503": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          }
        }
      }
    },
    "/v25/customers/{customerId}/googleAds:searchStream": {
      "post": {
        "operationId": "SearchStreamGoogleAds",
        "summary": "SearchStreamGoogleAds",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "example": "1000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchStreamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StreamBatch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "401": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "403": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "404": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "429": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "500": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "503": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          }
        }
      }
    },
    "/v25/customers/{customerId}/campaignBudgets:mutate": {
      "post": {
        "operationId": "MutateCampaignBudgets",
        "summary": "MutateCampaignBudgets",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "example": "1000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BudgetMutationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BudgetMutationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "401": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "403": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "404": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "429": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "500": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "503": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          }
        },
        "x-mockingbird": {
          "parity": {
            "safe": false
          }
        }
      }
    },
    "/v25/customers/{customerId}:uploadClickConversions": {
      "post": {
        "operationId": "UploadClickConversions",
        "summary": "UploadClickConversions",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "example": "1000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "401": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "403": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "404": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "429": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "500": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "503": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          }
        },
        "x-mockingbird": {
          "parity": {
            "safe": false
          }
        }
      }
    },
    "/mp/collect": {
      "post": {
        "operationId": "CollectAnalyticsEvents",
        "summary": "CollectAnalyticsEvents",
        "parameters": [
          {
            "name": "measurement_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "G-FIXTURE"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "fixture-ga4-secret"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "x-mockingbird": {
          "parity": {
            "safe": false
          }
        }
      }
    },
    "/debug/mp/collect": {
      "post": {
        "operationId": "ValidateAnalyticsEvents",
        "summary": "ValidateAnalyticsEvents",
        "parameters": [
          {
            "name": "measurement_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "G-FIXTURE"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "fixture-ga4-secret"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "401": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "403": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "404": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "429": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "500": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "503": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/properties/{propertyId}:runReport": {
      "post": {
        "operationId": "RunAnalyticsReport",
        "summary": "RunAnalyticsReport",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "example": "1000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "401": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "403": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "404": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "429": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "500": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "503": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          }
        }
      }
    },
    "/v1beta/properties/{propertyId}:batchRunReports": {
      "post": {
        "operationId": "BatchRunAnalyticsReports",
        "summary": "BatchRunAnalyticsReports",
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "example": "1000000001"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "401": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "403": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "404": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "429": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "500": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          },
          "503": {
            "description": "Google RPC error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdsError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "@type": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errorCode": {
                            "type": "object",
                            "properties": {},
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "fieldPathElements": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "fieldName": {
                                      "type": "string"
                                    },
                                    "index": {
                                      "type": "integer",
                                      "minimum": 0
                                    }
                                  },
                                  "additionalProperties": false,
                                  "required": [
                                    "fieldName"
                                  ]
                                }
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "errorCode",
                          "message"
                        ]
                      }
                    },
                    "requestId": {
                      "type": "string",
                      "x-mockingbird-volatile": {
                        "kind": "id"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            },
            "additionalProperties": false,
            "required": [
              "code",
              "message",
              "status"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "error"
        ]
      },
      "PartialFailure": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "code",
          "message",
          "details"
        ]
      },
      "Budget": {
        "type": "object",
        "properties": {
          "resourceName": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "pattern": "^-?[0-9]+$"
          },
          "name": {
            "type": "string"
          },
          "amountMicros": {
            "type": "string",
            "pattern": "^-?[0-9]+$"
          },
          "totalAmountMicros": {
            "type": "string",
            "pattern": "^-?[0-9]+$"
          },
          "period": {
            "type": "string",
            "enum": [
              "DAILY",
              "CUSTOM_PERIOD",
              "UNSPECIFIED"
            ]
          },
          "deliveryMethod": {
            "type": "string",
            "enum": [
              "STANDARD",
              "UNSPECIFIED"
            ]
          },
          "explicitlyShared": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "referenceCount": {
            "type": "string",
            "pattern": "^-?[0-9]+$"
          }
        },
        "additionalProperties": true
      },
      "AdsRow": {
        "type": "object",
        "properties": {
          "campaign": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^-?[0-9]+$"
              },
              "resourceName": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "campaignBudget": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "campaignBudget": {
            "$ref": "#/components/schemas/Budget"
          },
          "conversionAction": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^-?[0-9]+$"
              },
              "resourceName": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "category": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^-?[0-9]+$"
              },
              "resourceName": {
                "type": "string"
              },
              "descriptiveName": {
                "type": "string"
              },
              "currencyCode": {
                "type": "string"
              },
              "timeZone": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "metrics": {
            "type": "object",
            "properties": {
              "costMicros": {
                "type": "string",
                "pattern": "^-?[0-9]+$"
              },
              "clicks": {
                "type": "string",
                "pattern": "^-?[0-9]+$"
              },
              "impressions": {
                "type": "string",
                "pattern": "^-?[0-9]+$"
              },
              "conversions": {
                "type": "number"
              },
              "conversionsValue": {
                "type": "number"
              }
            },
            "additionalProperties": true
          },
          "segments": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "conversionAction": {
                "type": "string"
              },
              "conversionActionCategory": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "example": "SELECT campaign.id, campaign.name, metrics.cost_micros, metrics.clicks, metrics.impressions, metrics.conversions, metrics.conversions_value, segments.date FROM campaign ORDER BY campaign.id"
          },
          "pageToken": {
            "type": "string"
          },
          "pageSize": {
            "type": "integer",
            "minimum": 0
          },
          "validateOnly": {
            "type": "boolean"
          },
          "searchSettings": {
            "type": "object",
            "properties": {
              "omitResults": {
                "type": "boolean"
              },
              "returnSummaryRow": {
                "type": "boolean"
              },
              "returnTotalResultsCount": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false,
        "required": [
          "query"
        ]
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdsRow"
            }
          },
          "nextPageToken": {
            "type": "string",
            "x-mockingbird-volatile": {
              "kind": "token"
            }
          },
          "fieldMask": {
            "type": "string"
          },
          "totalResultsCount": {
            "type": "string",
            "pattern": "^-?[0-9]+$"
          },
          "summaryRow": {
            "$ref": "#/components/schemas/AdsRow"
          }
        },
        "additionalProperties": false
      },
      "SearchStreamRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1
          },
          "summaryRowSetting": {
            "type": "string",
            "enum": [
              "NO_SUMMARY_ROW",
              "SUMMARY_ROW_WITH_RESULTS",
              "SUMMARY_ROW_ONLY",
              "UNSPECIFIED"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "query"
        ]
      },
      "StreamBatch": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdsRow"
            }
          },
          "fieldMask": {
            "type": "string"
          },
          "requestId": {
            "type": "string",
            "x-mockingbird-volatile": {
              "kind": "id"
            }
          },
          "summaryRow": {
            "$ref": "#/components/schemas/AdsRow"
          }
        },
        "additionalProperties": false
      },
      "BudgetOperation": {
        "type": "object",
        "properties": {
          "create": {
            "$ref": "#/components/schemas/Budget"
          },
          "update": {
            "$ref": "#/components/schemas/Budget"
          },
          "remove": {
            "type": "string"
          },
          "updateMask": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "BudgetMutationRequest": {
        "type": "object",
        "properties": {
          "operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BudgetOperation"
            },
            "minItems": 1
          },
          "partialFailure": {
            "type": "boolean"
          },
          "validateOnly": {
            "type": "boolean"
          },
          "responseContentType": {
            "type": "string",
            "enum": [
              "RESOURCE_NAME_ONLY",
              "MUTABLE_RESOURCE",
              "UNSPECIFIED"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "operations"
        ]
      },
      "BudgetMutationResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resourceName": {
                  "type": "string",
                  "x-mockingbird-resource": {
                    "type": "google_campaign_budget",
                    "identity": true
                  }
                },
                "campaignBudget": {
                  "$ref": "#/components/schemas/Budget"
                }
              },
              "additionalProperties": false
            }
          },
          "partialFailureError": {
            "$ref": "#/components/schemas/PartialFailure"
          }
        },
        "additionalProperties": false
      },
      "Conversion": {
        "type": "object",
        "properties": {
          "gclid": {
            "type": "string"
          },
          "gbraid": {
            "type": "string"
          },
          "wbraid": {
            "type": "string"
          },
          "conversionAction": {
            "type": "string"
          },
          "conversionDateTime": {
            "type": "string"
          },
          "conversionValue": {
            "type": "number"
          },
          "currencyCode": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "consent": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "customVariables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "userIdentifiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true,
        "required": [
          "conversionAction",
          "conversionDateTime"
        ]
      },
      "ConversionRequest": {
        "type": "object",
        "properties": {
          "conversions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conversion"
            },
            "minItems": 1
          },
          "partialFailure": {
            "type": "boolean"
          },
          "validateOnly": {
            "type": "boolean"
          },
          "jobId": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647
          }
        },
        "additionalProperties": false,
        "required": [
          "conversions",
          "partialFailure"
        ]
      },
      "ConversionResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "pattern": "^-?[0-9]+$",
            "x-mockingbird-volatile": {
              "kind": "id"
            }
          },
          "partialFailureError": {
            "$ref": "#/components/schemas/PartialFailure"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "gclid": {
                  "type": "string"
                },
                "gbraid": {
                  "type": "string"
                },
                "wbraid": {
                  "type": "string"
                },
                "conversionAction": {
                  "type": "string"
                },
                "conversionDateTime": {
                  "type": "string"
                },
                "userIdentifiers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": true
                  }
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "jobId"
        ]
      },
      "Event": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "params": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "timestamp_micros": {
            "type": "integer"
          }
        },
        "additionalProperties": true,
        "required": [
          "name"
        ]
      },
      "CollectRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "timestamp_micros": {
            "type": "integer"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "validation_behavior": {
            "type": "string",
            "enum": [
              "RELAXED",
              "ENFORCE_RECOMMENDATIONS"
            ]
          },
          "user_properties": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "consent": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "non_personalized_ads": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "ValidationResponse": {
        "type": "object",
        "properties": {
          "validationMessages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fieldPath": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "validationCode": {
                  "type": "string",
                  "enum": [
                    "VALUE_INVALID",
                    "VALUE_REQUIRED",
                    "NAME_INVALID",
                    "NAME_RESERVED",
                    "VALUE_OUT_OF_BOUNDS",
                    "EXCEEDED_MAX_ENTITIES",
                    "NAME_DUPLICATED"
                  ]
                }
              },
              "additionalProperties": false,
              "required": [
                "fieldPath",
                "description",
                "validationCode"
              ]
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "validationMessages"
        ]
      },
      "ReportRequest": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string"
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "additionalProperties": false,
              "required": [
                "name"
              ]
            }
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "additionalProperties": false,
              "required": [
                "name"
              ]
            },
            "minItems": 1
          },
          "dateRanges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "startDate": {
                  "type": "string"
                },
                "endDate": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "additionalProperties": false,
              "required": [
                "startDate",
                "endDate"
              ]
            }
          },
          "dimensionFilter": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "metricFilter": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "offset": {
            "type": "string",
            "pattern": "^-?[0-9]+$"
          },
          "limit": {
            "type": "string",
            "pattern": "^-?[0-9]+$"
          },
          "orderBys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "currencyCode": {
            "type": "string"
          },
          "keepEmptyRows": {
            "type": "boolean"
          },
          "returnPropertyQuota": {
            "type": "boolean"
          },
          "metricAggregations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "comparisons": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": true
            }
          },
          "cohortSpec": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          }
        },
        "additionalProperties": false,
        "required": [
          "metrics"
        ]
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "dimensionHeaders": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "additionalProperties": false,
              "required": [
                "name"
              ]
            }
          },
          "metricHeaders": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "additionalProperties": false,
              "required": [
                "name",
                "type"
              ]
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dimensionValues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "value"
                    ]
                  }
                },
                "metricValues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "value"
                    ]
                  }
                }
              },
              "additionalProperties": false,
              "required": [
                "dimensionValues",
                "metricValues"
              ]
            }
          },
          "rowCount": {
            "type": "integer",
            "minimum": 0
          },
          "metadata": {
            "type": "object",
            "properties": {
              "currencyCode": {
                "type": "string"
              },
              "timeZone": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "required": [
              "currencyCode",
              "timeZone"
            ]
          },
          "kind": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "dimensionHeaders",
          "metricHeaders",
          "rows",
          "rowCount",
          "metadata",
          "kind"
        ]
      },
      "BatchReportRequest": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReportRequest"
            },
            "minItems": 1,
            "maxItems": 5
          }
        },
        "additionalProperties": false,
        "required": [
          "requests"
        ]
      },
      "BatchReportResponse": {
        "type": "object",
        "properties": {
          "reports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReportResponse"
            }
          },
          "kind": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "reports",
          "kind"
        ]
      }
    }
  }
}
