openapi: 3.1.0
info: { title: AWS EventBridge discovery, version: "2015-10-07" }
servers: [{ url: "https://events.us-east-1.amazonaws.com" }]
paths:
  /:
    post:
      operationId: EventBridgeRpc
      description: Dispatches AWSEvents.ListRules and AWSEvents.ListTargetsByRule.
      x-emulates: { supported: true, parity: { enabled: true, safe: true } }
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema: { type: string, enum: [AWSEvents.ListRules, AWSEvents.ListTargetsByRule] }
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              example: {}
              type: object
              properties:
                Rule: { type: string, minLength: 1, maxLength: 64 }
                NamePrefix: { type: string, minLength: 1, maxLength: 64 }
                EventBusName: { type: string, minLength: 1, maxLength: 1600 }
                Limit: { type: integer, minimum: 1, maximum: 100 }
                NextToken: { type: string, minLength: 1, maxLength: 2048 }
      responses:
        "200":
          description: Rules or targets
          content:
            application/x-amz-json-1.1:
              schema:
                type: object
                properties:
                  Rules: { type: array, items: { type: object, required: [Name, Arn], properties: { Name: { type: string }, Arn: { type: string } }, additionalProperties: true } }
                  Targets: { type: array, items: { type: object, required: [Id, Arn], properties: { Id: { type: string }, Arn: { type: string } }, additionalProperties: true } }
                  NextToken: { type: string }
        "400": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "429": { $ref: "#/components/responses/Error" }
        "500": { $ref: "#/components/responses/Error" }
components:
  responses:
    Error:
      description: AWS JSON error
      content:
        application/x-amz-json-1.1:
          schema: { type: object, required: [__type, message], properties: { __type: { type: string }, message: { type: string } } }
