{
  "openapi": "3.1.0",
  "info": {
    "title": "Apple API API",
    "version": "0.1.0",
    "description": "Synthetic public vendor API. Licensed route ports; native SQLite namespaces and runtime controls."
  },
  "servers": [
    {
      "url": "https://appleid.apple.com"
    }
  ],
  "paths": {
    "/.well-known/openid-configuration": {
      "get": {
        "operationId": "GET /.well-known/openid-configuration",
        "summary": "GET /.well-known/openid-configuration",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/auth/authorize": {
      "get": {
        "operationId": "GET /auth/authorize",
        "summary": "GET /auth/authorize",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/auth/keys": {
      "get": {
        "operationId": "GET /auth/keys",
        "summary": "GET /auth/keys",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/auth/authorize/callback": {
      "post": {
        "operationId": "POST /auth/authorize/callback",
        "summary": "POST /auth/authorize/callback",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/auth/revoke": {
      "post": {
        "operationId": "POST /auth/revoke",
        "summary": "POST /auth/revoke",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "operationId": "POST /auth/token",
        "summary": "POST /auth/token",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    }
  }
}
