{
  "openapi": "3.1.0",
  "info": {
    "title": "Clerk API API",
    "version": "0.1.0",
    "description": "Synthetic public vendor API. Licensed route ports; native SQLite namespaces and runtime controls."
  },
  "servers": [
    {
      "url": "https://api.clerk.com"
    }
  ],
  "paths": {
    "/v1/email_addresses/{emailId}": {
      "delete": {
        "operationId": "DELETE /v1/email_addresses/:emailId",
        "summary": "DELETE /v1/email_addresses/:emailId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "emailId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "get": {
        "operationId": "GET /v1/email_addresses/:emailId",
        "summary": "GET /v1/email_addresses/:emailId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "emailId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "patch": {
        "operationId": "PATCH /v1/email_addresses/:emailId",
        "summary": "PATCH /v1/email_addresses/:emailId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "emailId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations/{orgId}": {
      "delete": {
        "operationId": "DELETE /v1/organizations/:orgId",
        "summary": "DELETE /v1/organizations/:orgId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "get": {
        "operationId": "GET /v1/organizations/:orgId",
        "summary": "GET /v1/organizations/:orgId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "patch": {
        "operationId": "PATCH /v1/organizations/:orgId",
        "summary": "PATCH /v1/organizations/:orgId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations/{orgId}/memberships/{userId}": {
      "delete": {
        "operationId": "DELETE /v1/organizations/:orgId/memberships/:userId",
        "summary": "DELETE /v1/organizations/:orgId/memberships/:userId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "patch": {
        "operationId": "PATCH /v1/organizations/:orgId/memberships/:userId",
        "summary": "PATCH /v1/organizations/:orgId/memberships/:userId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/users/{userId}": {
      "delete": {
        "operationId": "DELETE /v1/users/:userId",
        "summary": "DELETE /v1/users/:userId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "get": {
        "operationId": "GET /v1/users/:userId",
        "summary": "GET /v1/users/:userId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "patch": {
        "operationId": "PATCH /v1/users/:userId",
        "summary": "PATCH /v1/users/:userId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "operationId": "GET /.well-known/openid-configuration",
        "summary": "GET /.well-known/openid-configuration",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "GET /oauth/authorize",
        "summary": "GET /oauth/authorize",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/oauth/userinfo": {
      "get": {
        "operationId": "GET /oauth/userinfo",
        "summary": "GET /oauth/userinfo",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/jwks": {
      "get": {
        "operationId": "GET /v1/jwks",
        "summary": "GET /v1/jwks",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations": {
      "get": {
        "operationId": "GET /v1/organizations",
        "summary": "GET /v1/organizations",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "post": {
        "operationId": "POST /v1/organizations",
        "summary": "POST /v1/organizations",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations/{orgId}/invitations": {
      "get": {
        "operationId": "GET /v1/organizations/:orgId/invitations",
        "summary": "GET /v1/organizations/:orgId/invitations",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "post": {
        "operationId": "POST /v1/organizations/:orgId/invitations",
        "summary": "POST /v1/organizations/:orgId/invitations",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations/{orgId}/invitations/{invitationId}": {
      "get": {
        "operationId": "GET /v1/organizations/:orgId/invitations/:invitationId",
        "summary": "GET /v1/organizations/:orgId/invitations/:invitationId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations/{orgId}/memberships": {
      "get": {
        "operationId": "GET /v1/organizations/:orgId/memberships",
        "summary": "GET /v1/organizations/:orgId/memberships",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "post": {
        "operationId": "POST /v1/organizations/:orgId/memberships",
        "summary": "POST /v1/organizations/:orgId/memberships",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/sessions": {
      "get": {
        "operationId": "GET /v1/sessions",
        "summary": "GET /v1/sessions",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "post": {
        "operationId": "POST /v1/sessions",
        "summary": "POST /v1/sessions",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/sessions/{sessionId}": {
      "get": {
        "operationId": "GET /v1/sessions/:sessionId",
        "summary": "GET /v1/sessions/:sessionId",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "operationId": "GET /v1/users",
        "summary": "GET /v1/users",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      },
      "post": {
        "operationId": "POST /v1/users",
        "summary": "POST /v1/users",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/users/count": {
      "get": {
        "operationId": "GET /v1/users/count",
        "summary": "GET /v1/users/count",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations/{orgId}/memberships/{userId}/metadata": {
      "patch": {
        "operationId": "PATCH /v1/organizations/:orgId/memberships/:userId/metadata",
        "summary": "PATCH /v1/organizations/:orgId/memberships/:userId/metadata",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations/{orgId}/metadata": {
      "patch": {
        "operationId": "PATCH /v1/organizations/:orgId/metadata",
        "summary": "PATCH /v1/organizations/:orgId/metadata",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/users/{userId}/metadata": {
      "patch": {
        "operationId": "PATCH /v1/users/:userId/metadata",
        "summary": "PATCH /v1/users/:userId/metadata",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/oauth/authorize/callback": {
      "post": {
        "operationId": "POST /oauth/authorize/callback",
        "summary": "POST /oauth/authorize/callback",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "POST /oauth/token",
        "summary": "POST /oauth/token",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/email_addresses": {
      "post": {
        "operationId": "POST /v1/email_addresses",
        "summary": "POST /v1/email_addresses",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations/{orgId}/invitations/{invitationId}/revoke": {
      "post": {
        "operationId": "POST /v1/organizations/:orgId/invitations/:invitationId/revoke",
        "summary": "POST /v1/organizations/:orgId/invitations/:invitationId/revoke",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/organizations/{orgId}/invitations/bulk": {
      "post": {
        "operationId": "POST /v1/organizations/:orgId/invitations/bulk",
        "summary": "POST /v1/organizations/:orgId/invitations/bulk",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/sessions/{sessionId}/revoke": {
      "post": {
        "operationId": "POST /v1/sessions/:sessionId/revoke",
        "summary": "POST /v1/sessions/:sessionId/revoke",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/sessions/{sessionId}/tokens": {
      "post": {
        "operationId": "POST /v1/sessions/:sessionId/tokens",
        "summary": "POST /v1/sessions/:sessionId/tokens",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/sessions/{sessionId}/tokens/{template}": {
      "post": {
        "operationId": "POST /v1/sessions/:sessionId/tokens/:template",
        "summary": "POST /v1/sessions/:sessionId/tokens/:template",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/users/{userId}/ban": {
      "post": {
        "operationId": "POST /v1/users/:userId/ban",
        "summary": "POST /v1/users/:userId/ban",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/users/{userId}/lock": {
      "post": {
        "operationId": "POST /v1/users/:userId/lock",
        "summary": "POST /v1/users/:userId/lock",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/users/{userId}/unban": {
      "post": {
        "operationId": "POST /v1/users/:userId/unban",
        "summary": "POST /v1/users/:userId/unban",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/users/{userId}/unlock": {
      "post": {
        "operationId": "POST /v1/users/:userId/unlock",
        "summary": "POST /v1/users/:userId/unlock",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    },
    "/v1/users/{userId}/verify_password": {
      "post": {
        "operationId": "POST /v1/users/:userId/verify_password",
        "summary": "POST /v1/users/:userId/verify_password",
        "x-mockingbird": {
          "supported": true,
          "parity": {
            "enabled": false,
            "safe": false,
            "reason": "Verified against a pinned package oracle; independent live vendor evidence is not available."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Provider response. Exact behavior is exercised against the pinned package oracle; not independently vendor-verified."
          }
        }
      }
    }
  }
}
